@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* CSS HSL */
  --light: hsla(193, 20%, 60%, 1);
  --dark: hsla(199, 26%, 20%, 1);
  --medium: hsla(192, 24%, 60%, 1);
  --bg-btn: hsla(188, 76%, 31%, 1);
  --bg-hover-btn: hsla(209, 19%, 56%, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-size: 1.2em;
}
