@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* CSS HSL */
  --midnight-green: hsla(193, 100%, 10%, 1);
  --pacific-cyan: hsla(192, 100%, 41%, 1);
  --aquamarine: hsla(147, 100%, 81%, 1);
  --persian-green: hsla(171, 63%, 39%, 1);
  --light-green: hsla(124, 67%, 69%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --black-2: hsla(0, 0%, 0%, 1);
  --eerie-black: hsla(60, 2%, 11%, 1);
  --feldgrau: hsla(139, 12%, 30%, 1);
  --forest-green: hsla(140, 82%, 31%, 1);
  --test: hsla(65, 85%, 52%, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-size: 1.2em;
}
