.loader {
  position: relative;
  max-width: 15em;
  max-height: 15em;
  transform: translateX(-10%);
}
.loader-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: center / contain no-repeat url("../../public/images/logo.png");
  transform: translate(5%, 5%);
}
.loader-rotation {
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(hsla(188, 76%, 31%, 0.9), 0.8);
  border-right: 1.1em solid rgba(hsla(188, 76%, 31%, 0.9), 0.8);
  border-bottom: 1.1em solid rgba(hsla(188, 76%, 31%, 0.9), 0.8);
  border-left: 1.1em solid hsla(188, 76%, 31%, 0.9);
  -webkit-animation: load8 2s infinite linear;
  animation: load8 2s infinite linear;
}
.loader-rotation,
.loader-rotation:after {
  width: 18em;
  height: 18em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border-color: hsla(199, 26%, 20%, 1);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-color: hsla(199, 26%, 20%, 1);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border-color: hsla(199, 26%, 20%, 1);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-color: hsla(199, 26%, 20%, 1);
  }
}
